.heading {
	margin-bottom: var(--spacer2);
}

.body {
	margin-bottom: var(--spacer2);
}

.item:nth-child(2n) .body {
	order: 2;
}

.image {
	@apply --responsive-image;

	border: 1px solid var(--lightColor);
}

.listItem {
	margin-bottom: var(--spacer1);
}
