.root {
	text-align: center;
}

.logo svg {
	width: 300px;
	height: auto;
}

.text {
	margin-bottom: var(--spacer3);
	font-family: "Bree Serif", serif;
}

.title {
	margin-bottom: var(--spacer0);
	font-size: var(--hugeFontSize);
	font-weight: normal;
}

.subtitle {
	font-size: var(--headerGammaSize);
	font-weight: normal;
}
