:root {
	--baseFont: "Open Sans", Helvetica, sans-serif;
	--maxWidth: none;
	--contentMaxWidth: 1200px;
	--bgColor: #fff;
	--baseColor: #252525;
	--linkColor: #0094a9;
	--hoverColor: #00d9fc;
	--lightColor: #e5e5e5;
	--hugeFontSize: 68px;
	--headerBetaSize: 28px;
	--headerMarginTop: var(--spacer6);
}
