/**
 * Customization
 */

.algolia-docsearch-suggestion {
	border-bottom-color: #00d8fe !important;
}

.algolia-docsearch-suggestion--category-header {
	font-weight: bold;
}

.algolia-docsearch-suggestion--highlight {
	color: #0094a9 !important;
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
	background-color: #4d47d5;
}

.aa-cursor .algolia-docsearch-suggestion--content {
	color: #272296;
}

.aa-cursor .algolia-docsearch-suggestion {
	background: #f00;
}

@media (min-width: 768px) {
	.algolia-docsearch-suggestion {
		border-bottom-color: #0094a9 !important;
	}

	.algolia-docsearch-suggestion--subcategory-column {
		border-right-color: #7671df;
		color: #4e4726;
	}
}

@media (max-width: 768px) {
	.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
	span#algolia-autocomplete-listbox-0.ds-dropdown-menu.ds-with-1 {
		width: 90vw;
	}

	.algolia-autocomplete .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--subcategory-column {
		display: none !important;
	}

	.algolia-autocomplete .algolia-docsearch-suggestion--content {
		width: 100% !important;
	}

	.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
		display: none !important;
	}
}
